{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <!-- Форма для изменения пароля -->
  <div class="col d-flex justify-content-center">
    <div class="card col-4 m-3">
      <div class="card-header">
        Поменять пароль
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %} <!-- Токен защиты CSRF -->
          {% bootstrap_form form %} <!-- Форма для изменения пароля с использованием Bootstrap -->
          {% bootstrap_button button_type="submit" content="Поменять пароль" %} <!-- Кнопка отправки -->
        </form>
      </div>
    </div>
  </div>
{% endblock %}
